body {
	font-family: 'Muli', sans-serif;
	padding: 0;
	box-sizing: border-box;
}

/*----------------------
----------Nav-----------
------------------------*/



/*----------------------
----------Car Cards----
------------------------*/

.carCard {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px;
	height: 306px;
}

.car-title {
	text-align: center;
}

.carCard h3 {
	text-align: center;
	color: red;
}


/*-----Card Border-----*/

.FireBrick {
	border: 1.5px solid firebrick;
}

.Blue {
	border: 1.5px solid blue;
}

.Yellow {
	border: 1.5px solid yellow;
}

.Black {
	border: 1.5px solid black;
}

.Red {
	border: 1.5px solid red;
}

.Gray {
	border: 1.5px solid gray;
}


.borderThick {
	border: 2px solid black;
	background: lightblue;
}
